<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>

  {{> adminHeader}}

  {{> section}}

  <main id="main">
    <br>
    <hr>

    {{!-- Tabla de vehiculos --}}
    
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Modelo</th>
            <th scope="col">Anho</th>
            <th scope="col">Cilindraje</th>
            <th scope="col">Color</th>
            <th scope="col">Cantidad Pasajeros</th>
            <th scope="col">Condicion Vehiculo</th>
            <th scope="col">Kilometraje</th>
            <th scope="col">Extras</th>
          </tr>
        </thead>
        <tbody>
          {{# each vehiculoDB}}

          <tr>
            <th scope="row"></th>
            <td>{{this.modelo}}</td>
            <td>{{this.anho}}</td>
            <td>{{this.cilindraje}}</td>
            <td>{{this.color}}</td>
            <td>{{this.cantidadPasajeros}}</td>
            <td>{{this.condicionVehiculo}}</td>
            <td>{{this.kilometraje}}</td>
            <td>{{this.extras}}</td>
          </tr>

          {{/each}}


        </tbody>
      </table>
    



  </main>
  <!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>VTV</span></strong>. Derechos Reservados
        </div>
      </div>
      {{!-- <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div> --}}
    </div>
  </footer>
  <!-- End Footer -->

  <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>

  {{> scripts}}
</body>

</html>