<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="section-title">
            <h2>Lista de vehículos</h2>
        </div>

        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">Todos</li>
                    <li data-filter=".filter-carro">Carros</li>
                    <li data-filter=".filter-moto">Motos</li>
                </ul>
            </div>
        </div>

        <div class="row portfolio-container">

            {{# each vehiculoDB}}

            <div class="col-lg-4 col-md-6 portfolio-item filter-carro">
                <img src="{{this.img}}" class="img-fluid" alt="">
                <div class="portfolio-info">
                    <h4>Modelo: {{this.modelo}}</h4>
                    <p><b>Color: </b>{{this.color}}</p>
                    <p><b>Condicion: </b>{{this.condicionVehiculo}}</p>
                    <a href="/sobreVehiculo/{{this._id}}" data-gall="portfolioDetailsGallery" data-vbtype="iframe"
                        class="venobox preview-link">
                        <button type="button" class="btn btn-secondary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-info-square-fill" viewBox="0 0 16 16">
                                <path
                                    d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm8.93 4.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z">
                                </path>
                            </svg>
                        </button>
                    </a>
                    {{!-- <a href="/delete/vehiculo/{{this._id}}" data-gall="portfolioDetailsGallery"
                        data-vbtype="iframe" class="venobox details-link">
                        <button type="button" class="btn btn-secondary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-trash" viewBox="0 0 16 16">
                                <path
                                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z">
                                </path>
                                <path fill-rule="evenodd"
                                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z">
                                </path>
                            </svg>
                        </button>
                    </a> --}}
                    {{!-- <a href="assets/img/portfolio/portfolio-1.jpg" data-gall="portfolioGallery"
                        class="venobox preview-link" title="App 1"><i class="bx bx-plus"></i></a> --}}
                    {{!-- <a href="/detalles" data-gall="portfolioDetailsGallery" data-vbtype="iframe"
                        class="venobox details-link" title="Portfolio Details"></a> --}}
                </div>
            </div>

            {{/each}}

        </div>
    </div>
</section>