<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="section-title">
            <h2>Subastas destacadas</h2>
            <p>Mira rapidamente las subastas más populares y de más interés </p>
        </div>

        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">Todos</li>
                    <li data-filter=".filter-carro">Carros</li>
                    <li data-filter=".filter-moto">Motos</li>
                </ul>
            </div>
        </div>

        <div class="row portfolio-container">

            {{# each vehiculoDB}}

            <div class="col-lg-4 col-md-6 portfolio-item filter-carro">
                <img src="{{this.img}}" class="img-fluid" alt="">
                <div class="portfolio-info">
                    <h4>Modelo: {{this.modelo}}</h4>
                    <p><b>Color: </b>{{this.color}}</p>
                    <p><b>Condicion: </b>{{this.condicionVehiculo}}</p>
                    <a href="/sobreVehiculo/{{this._id}}" data-gall="portfolioDetailsGallery" data-vbtype="iframe"
                        class="venobox preview-link">
                        <button type="button" class="btn btn-secondary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-info-square-fill" viewBox="0 0 16 16">
                                <path
                                    d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm8.93 4.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z">
                                </path>
                            </svg>
                        </button>
                    </a>
                    {{!-- <a href="assets/img/portfolio/portfolio-1.jpg" data-gall="portfolioGallery"
                        class="venobox preview-link" title="App 1"><i class="bx bx-plus"></i></a> --}}
                    {{!-- <a href="/detalles" data-gall="portfolioDetailsGallery" data-vbtype="iframe"
                        class="venobox details-link" title="Portfolio Details"></a> --}}
                </div>
            </div>

            {{/each}}

            {{!-- <div class="col-lg-4 col-md-6 portfolio-item filter-carro">
                <img src="assets/img/Carros/imgC1.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                    <h4>Carro Blanco</h4>
                    <p>Carro</p>
                    <a href="assets/img/portfolio/portfolio-1.jpg" data-gall="portfolioGallery"
                        class="venobox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
                    <a href="/detalles" data-gall="portfolioDetailsGallery" data-vbtype="iframe"
                        class="venobox details-link" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-carro">
                <img src="assets/img/Carros/imgC2.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                    <h4>Carro Negro</h4>
                    <p>Carro</p>
                    <a href="assets/img/portfolio/portfolio-3.jpg" data-gall="portfolioGallery"
                        class="venobox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
                    <a href="/detalles" data-gall="portfolioDetailsGallery" data-vbtype="iframe"
                        class="venobox details-link" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-moto">
                <img src="assets/img/Motos/imgM1.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                    <h4>Moto Verde</h4>
                    <p>Moto</p>
                    <a href="assets/img/portfolio/portfolio-4.jpg" data-gall="portfolioGallery"
                        class="venobox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
                    <a href="/detalles" data-gall="portfolioDetailsGallery" data-vbtype="iframe"
                        class="venobox details-link" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-carro">
                <img src="assets/img/Carros/imgC3.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                    <h4>Toyota</h4>
                    <p>Carro</p>
                    <a href="assets/img/portfolio/portfolio-6.jpg" data-gall="portfolioGallery"
                        class="venobox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
                    <a href="/detalles" data-gall="portfolioDetailsGallery" data-vbtype="iframe"
                        class="venobox details-link" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-moto">
                <img src="assets/img/Motos/imgM2.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                    <h4>Moto Negro</h4>
                    <p>Moto</p>
                    <a href="assets/img/portfolio/portfolio-7.jpg" data-gall="portfolioGallery"
                        class="venobox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
                    <a href="/detalles" data-gall="portfolioDetailsGallery" data-vbtype="iframe"
                        class="venobox details-link" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-carro">
                <img src="assets/img/Carros/imgC4.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                    <h4>Carro Deportivo Blanco</h4>
                    <p>Carro</p>
                    <a href="assets/img/portfolio/portfolio-8.jpg" data-gall="portfolioGallery"
                        class="venobox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
                    <a href="/detalles" data-gall="portfolioDetailsGallery" data-vbtype="iframe"
                        class="venobox details-link" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-moto">
                <img src="assets/img/Motos/imgM3.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                    <h4>Moto Azul</h4>
                    <p>Moto</p>
                    <a href="assets/img/portfolio/portfolio-7.jpg" data-gall="portfolioGallery"
                        class="venobox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
                    <a href="/detalles" data-gall="portfolioDetailsGallery" data-vbtype="iframe"
                        class="venobox details-link" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-moto">
                <img src="assets/img/Motos/imgM4.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                    <h4>Moto Negro</h4>
                    <p>Moto</p>
                    <a href="assets/img/portfolio/portfolio-7.jpg" data-gall="portfolioGallery"
                        class="venobox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
                    <a href="/detalles" data-gall="portfolioDetailsGallery" data-vbtype="iframe"
                        class="venobox details-link" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
            </div> --}}

        </div>
    </div>
</section>