<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="section-title">
            <h2>Ventas destacadas</h2>
            <p>Mira rapidamente las ventas más populares y de más interés </p>
        </div>

        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">Todos</li>
                    <li data-filter=".filter-carro">Carros</li>
                    <li data-filter=".filter-moto">Motos</li>
                </ul>
            </div>
        </div>

        <div class="row portfolio-container">

            {{# each ventaDB}}

            <div class="col-lg-4 col-md-6 portfolio-item filter-carro">
                <img src="{{this.img}}" class="img-fluid" alt="">
                <div class="portfolio-info">
                    <p> <b>Cliente_ID:</b> {{this.cliente_id}}</p>
                    <p><b>Vehiculo_ID:</b> {{this.vehiculo_id}}</p>
                    <p> <b>Precio:</b> {{this.precio}}</p>
                    <a href="/sobreVenta/{{this._id}}" data-gall="portfolioDetailsGallery" data-vbtype="iframe"
                        class="venobox details-link">
                        <button type="button" class="btn btn-secondary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-info-square-fill" viewBox="0 0 16 16">
                                <path
                                    d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm8.93 4.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z">
                                </path>
                            </svg>
                        </button>
                    </a>
                </div>
            </div>

            {{/each}}

        </div>
    </div>
</section>