<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>

  {{> adminHeader}}

  {{> section}}

  <main id="main">
    <br>
    <hr>


    {{!-- Tabla de usuarios --}}
    <div class=" scroll tabla">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Venta ID</th>
            <th scope="col">Vehiculo ID</th>
            <th scope="col">Usuario ID</th>
            <th scope="col">Precio</th>
            <th scope="col">Fecha de venta</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody>

          {{# each ventaDB}}

          <tr>
            <td>{{this._id}}</td>
            <td>{{this.vehiculo_id}}</td>
            <td>{{this.cliente_id}}</td>
            <td>{{this.precio}}</td>
            <td>{{this.fecha_venta}}</td>
            <td>{{this.estado}}</td>
            <td>
            </td>
            <td>
              <a href="/delete/venta/{{this._id}}" class="text-decoration-none" aria-hidden="true"
                onclick="return confirm('Seguro que quiere eliminar esta venta? ');">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-trash-fill" viewBox="0 0 16 16">
                  <path
                    d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z">
                  </path>
                </svg>
              </a>
            </td>
          </tr>
          {{/each}}

        </tbody>
      </table>
    </div>



  </main>
  <!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>VTV</span></strong>. Derechos Reservados
        </div>
      </div>
      {{!-- <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div> --}}
    </div>
  </footer>
  <!-- End Footer -->

  <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>

  {{> scripts}}
</body>

</html>